<% title "Atbildes aptaujai: " + @survey.name %>
<ul id="right_menu">
  <li><%= link_to "Atpakaļ uz aptauju", survey_path(@survey), :class=> "back" %></li>
</ul>
<div id="content_wrapper">
<% for question in @questions %>
  <div class="element_wrapper">
    <h3><%= question.body %></h3>
    <%= link_to("Atbildes", 
      {:controller => "answers", 
      :action => "index", 
      :question_id => question.id}, 
      :class => "action_link"
    )%>
  </div>
<% end %>
</div>
<%= paginate @questions %>
