<% title "Answers to: " + @question.body  %>
<ul id="right_menu">
  <li>
  <%= link_to("Back to questions", 
  {:controller => "questions", 
    :action => "index", 
    :survey_id => @question.survey_id}, 
    :class=> "back"
  )
  %>
  </li>
</ul>
<table class="answers_table_dark">
  <tr>
    <th>Answer</th>
    <th>Time</th>
  </tr>
  <% for answer in @answers %>
    </tr>
      <td><%= answer.answer %></td>
      <td><%= answer.created_at.strftime("%T %F") %></td>
    </tr>
  <% end %>
</table>
<%= paginate @answers %>